<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Sistema Escolar</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="topbar card">
      <div>
        <strong>Minha Escola</strong>
        <div class="small">Painel de controle</div>
      </div>
      <div>
        <span class="small">Usuário: <strong>Visitante</strong></span>
      </div>
    </div>

    
    <div id="app-root"></div>

    <div style="text-align:center; margin-top:18px;" class="small">
      © 2025 - Sistema Escolar
    </div>
  </div>
</body>
</html>
