{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <h2>Entrar</h2>
  <form action="{{ url_for('auth.fazer_login') }}" method="post" class="form">
    <label>Email
      <input type="email" name="email" required>
    </label>
    <label>Senha
      <input type="password" name="senha" required>
    </label>
    <label>Tipo
      <select name="tipo">
        <option value="aluno">Aluno</option>
        <option value="professor">Professor</option>
        <option value="admin">Administrador</option>
      </select>
    </label>
    <button type="submit">Entrar</button>
  </form>

  <p>Não tem conta? <a href="{{ url_for('auth.registro_aluno_page') }}">Registrar aluno</a> | <a href="{{ url_for('auth.registro_professor_page') }}">Registrar professor</a></p>
{% endblock %}
