{% extends "layouts/base.html" %}
{% block title %}Registrar - Administrador{% endblock %}
{% block content %}
  <h2>Registro - Administrador</h2>
  <form action="{{ url_for('auth.registrar_admin') }}" method="post" class="form">
    <label>Nome<input name="nome" required></label>
    <label>Email<input type="email" name="email" required></label>
    <label>Senha<input type="password" name="senha" required></label>
    <label>Confirmar Senha<input type="password" name="confirmar_senha" required></label>
    <label>Senha Mestra<input type="password" name="senha_mestra" required></label>
    <button type="submit">Registrar Administrador</button>
  </form>
{% endblock %}
